// Colors
$orange: #FDB15D;
$black: #382817;
$gray: #F2ECE4;
$gray-text: #A8A199;
$bg-orange: #FCEFDE;
$btn-orange: #EA973C;

@import "include/bootstrap-reboot.scss";
@import "include/bootstrap-grid.min.scss";
@import "../node_modules/swiper/swiper.scss";


html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: $black;

    @media(max-width: 768px) {
        font-size: 35px;
        line-height: 40px;
    } 

    @media(max-width: 580px) {
        font-size: 24px;
        line-height: 28px;
    }
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;

    @media(max-width: 768px) {
        font-size: 25px;
        line-height: 30px;
    } 

    @media(max-width: 580px) {
        font-size: 18px;
        line-height: 24px;
    }
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    @media(max-width: 580px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.btn {
    border-radius: 24px;
    outline: none;
    border: 0;
    background-color: $orange;
    display: inline-block;
    display: inline-block;
    cursor: pointer;
    transition: .2s;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $black;

        span {
            color: #fff;
        }
    }

    &#{&}--border {
        border: 1px solid #EA973C;
        background-color: transparent;

        span {
            color: $orange;
        }

        &:hover {
            border-color: $black;
            background-color: transparent;

            span {
                color: $black;
            }
        }
    }

    &#{&}--bg {
        background: $black;
        
        span {
            color: #fff;
        }

        &:hover {
            background: #fff;

            span {
                color: $black;
            }
        }
    }

    &#{&}--white {
        background-color: #fff;

        span {
            color: $black;
        }


        &:hover {
            background-color: $orange;

            span {
                color: $black;
            }
        }

        &.btn--border {
            background-color: transparent;
            border-color: #fff;

            span {
                color: #fff;
            }

            &:hover {
                border-color: $orange;

                span {
                    color: $orange;
                }
            }
        }
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        padding: 16px 42px;
        display: inline-block;
        text-align: center;
        outline: none;
        transition: .2s;

        @media(max-width: 580px) {
            padding: 12px 20px;
        }
    }
}

// Form
input[type="text"], input[type="phone"], input[type="number"], input[type="email"] {
    width: 100%;
    height: 62px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #D5964F;

    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $black;

    outline: none;

    @media(max-width: 768px) {
        height: 50px;
        font-size: 16px;
    }

    &::placeholder {
        color: #B07B3F;
    }

    &.error {
        border-color: #EB5757;
        color: #EB5757;

        &::placeholder {
            color: #EB5757;
        }
    }
}

.input-block {
    height: 62px;
    position: relative;

    @media(max-width: 768px) {
        height: 50px;
    }

    &#{&}--light {
        input {
            border-color: #D5964F;

            &.error {
                border-color: #EB5757;
                color: #EB5757;
            }
        }
        span {
            color: #D5964F;
        }
    }

    &.focus {
        span {
            top: 7px;
            font-weight: normal;
            font-size: 12px;
        }

        input {
            border-width: 2px;
            border-color: $black;
            padding-top: 16px;
        }
    }

    span {
        position: absolute;
        top: 21px;
        left: 0;
        pointer-events: none;

        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        color: #A8A199;
        transition: .2s;

        @media(max-width: 768px) {
            top: 16px;
            font-size: 16px;
        }
    }

    input {
        border-color: #E6D9CC;
        transition: .2s;

        &.error {
            border-width: 2px;
        }
    }
}

.input-textarea {
    position: relative;

    @media(max-width: 768px) {
        height: 100px;
    }

    &#{&}--light {
        textarea {
            border-color: #D5964F;

            &.error {
                border-color: #EB5757;
                color: #EB5757;
            }
        }
        span {
            color: #D5964F;
        }
    }

    &.focus {
        span {
            top: 7px;
            font-weight: normal;
            font-size: 12px;
        }

        textarea {
            border-width: 2px;
            border-color: $black;
            padding-top: 20px;
        }
    }

    span {
        position: absolute;
        top: 21px;
        left: 0;
        pointer-events: none;

        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        color: #A8A199;
        transition: .2s;

        @media(max-width: 768px) {
            top: 16px;
            font-size: 16px;
        }
    }

    textarea {
        border-color: #E6D9CC;
        transition: .2s;

        max-width: 100%;
        min-width: 100%;
        height: 116px;
        border: 0;
        outline: none;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #E6D9CC;

        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $black;

        &.error {
            border-width: 2px;
            border-color: #EB5757;
            color: #EB5757;
        }

        @media(max-width: 768px) {
            height: 100px;
        }
    }
}

.block-radio {
    display: inline-block;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background-color: $black;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    background-color: #EB5757;
                }
            }
        }
    }

    label {
        display: inline-flex;
        align-items: center;

        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: transparent;
            transition: .2s;
            
            box-shadow: 0 0 0 4px #FDB15D, 0 0 0 5px #D5964F;

            @media(max-width: 768px) {
                width: 8px;
                height: 8px;
            }
        }
        
        span {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            margin-left: 14px;

            @media(max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
                margin-left: 12px;
            }
        }
    }
}

.block-check {
    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background: $black url("../svg/checked-white.svg") center center no-repeat;
                    background-size: 8px 6px;
                    border-color: $black;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    border-color: #EB5757;
                    background-color: #EB5757;
                }
            }
        }
    }

    label {
        display: inline-flex;
    
        &:before {
            width: 20px;
            height: 20px;
            content: "";
            display: block;
            border: 1px solid #D5964F;
            box-sizing: border-box;
            border-radius: 3px;
            margin-top: 2px;
            transition: background-color .2s;

            @media(max-width: 768px) {
                width: 16px;
                height: 16px;
                margin-top: 4px;
            }
        }

        span {
            font-size: 14px;
            line-height: 24px;
            margin-left: 9px;
            width: calc(100% - 20px);

            @media(max-width: 768px) {
                // margin-left: 5px;
            }
        }   
    }
}

.select-color {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 4px;
    }

    label {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 100%;
        transition: .2s;
        cursor: pointer;
        margin-bottom: 0;
        background-color: currentColor;
    }
    
    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                box-shadow: 0 0 0 2px #fff, 0 0 0 3px currentColor;
            }
        }
    }
}

@import "block/header.scss";
@import "block/catalog.scss";
@import "block/terrboard.scss";
@import "block/contact.scss";
@import "block/footer.scss";
@import "block/calcmatarial.scss";
@import "block/review.scss";
@import "block/whytrimf.scss";
@import "block/getcatalog.scss";
@import "block/partener.scss";
@import "block/compboard.scss";
@import "block/howwork.scss";
@import "block/question.scss";
@import "block/menu.scss";