// Colors
$orange: #FDB15D;
$black: #382817;
$gray: #F2ECE4;
$gray-text: #A8A199;
$bg-orange: #FCEFDE;
$btn-orange: #EA973C;

@import "include/bootstrap-reboot.scss";
@import "include/bootstrap-grid.min.scss";
@import "include/swiper.scss";
@import "include/fancybox.scss";


html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: $black;

    @media(max-width: 768px) {
        font-size: 35px;
        line-height: 40px;
    } 

    @media(max-width: 580px) {
        font-size: 24px;
        line-height: 28px;
    }
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;

    @media(max-width: 768px) {
        font-size: 25px;
        line-height: 30px;
    } 

    @media(max-width: 580px) {
        font-size: 18px;
        line-height: 24px;
    }
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    @media(max-width: 580px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.btn {
    border-radius: 24px;
    outline: none;
    border: 0;
    background-color: $orange;
    display: inline-block;
    display: inline-block;
    cursor: pointer;
    transition: .2s;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $black;

        span {
            color: #fff;
        }
    }

    &#{&}--border {
        border: 1px solid #EA973C;
        background-color: transparent;

        span {
            color: $orange;
        }

        &:hover {
            border-color: $black;
            background-color: transparent;

            span {
                color: $black;
            }
        }
    }

    &#{&}--bg {
        background: $black;
        
        span {
            color: #fff;
        }

        &:hover {
            background: #fff;

            span {
                color: $black;
            }
        }
    }

    &#{&}--white {
        background-color: #fff;

        span {
            color: $black;
        }


        &:hover {
            background-color: $orange;

            span {
                color: $black;
            }
        }

        &.btn--border {
            background-color: transparent;
            border-color: #fff;

            span {
                color: #fff;
            }

            &:hover {
                border-color: $orange;

                span {
                    color: $orange;
                }
            }
        }
    }

    &#{&}--dark {
        background-color: $black;

        span {
            color: #fff;
        }

        &:hover {
            background-color: $orange;

            span {
                color: $black;
            }
        }
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        padding: 16px 42px;
        display: inline-block;
        text-align: center;
        outline: none;
        transition: .2s;

        @media(max-width: 580px) {
            padding: 12px 20px;
        }
    }
}

// Form
input[type="text"], input[type="phone"], input[type="number"], input[type="email"] {
    width: 100%;
    height: 62px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #D5964F;

    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $black;

    outline: none;

    @media(max-width: 768px) {
        height: 50px;
        font-size: 16px;
    }

    &::placeholder {
        color: #B07B3F;
    }

    &.error {
        border-color: #EB5757;
        color: #EB5757;

        &::placeholder {
            color: #EB5757;
        }
    }
}

.input-block {
    height: 62px;
    position: relative;

    @media(max-width: 768px) {
        height: 50px;
    }

    &#{&}--light {
        input {
            border-color: #D5964F;

            &.error {
                border-color: #EB5757;
                color: #EB5757;
            }
        }
        span {
            color: #D5964F;
        }
    }

    &.focus {
        span {
            top: 7px;
            font-weight: normal;
            font-size: 12px;
        }

        input {
            border-width: 2px;
            border-color: $black;
            padding-top: 16px;
        }
    }

    span {
        position: absolute;
        top: 21px;
        left: 0;
        pointer-events: none;

        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        color: #A8A199;
        transition: .2s;

        @media(max-width: 768px) {
            top: 16px;
            font-size: 16px;
        }
    }

    input {
        border-color: #E6D9CC;
        transition: .2s;

        &.error {
            border-width: 2px;
        }
    }
}

.input-textarea {
    position: relative;

    @media(max-width: 768px) {
        height: 100px;
    }

    &#{&}--light {
        textarea {
            border-color: #D5964F;

            &.error {
                border-color: #EB5757;
                color: #EB5757;
            }
        }
        span {
            color: #D5964F;
        }
    }

    &.focus {
        span {
            top: 7px;
            font-weight: normal;
            font-size: 12px;
        }

        textarea {
            border-width: 2px;
            border-color: $black;
            padding-top: 20px;
        }
    }

    span {
        position: absolute;
        top: 21px;
        left: 0;
        pointer-events: none;

        font-weight: normal;
        font-size: 18px;
        line-height: 1;
        color: #A8A199;
        transition: .2s;

        @media(max-width: 768px) {
            top: 16px;
            font-size: 16px;
        }
    }

    textarea {
        border-color: #E6D9CC;
        transition: .2s;

        max-width: 100%;
        min-width: 100%;
        height: 116px;
        border: 0;
        outline: none;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #E6D9CC;

        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $black;

        &.error {
            border-width: 2px;
            border-color: #EB5757;
            color: #EB5757;
        }

        @media(max-width: 768px) {
            height: 100px;
        }
    }
}

.block-radio {
    display: inline-block;

    &#{&}--light {
        label {
            &:before {
                box-shadow: 0 0 0 4px #FCEFDE, 0 0 0 5px #E5D9CC;
            }
        }

        input {
            &:checked {
                & + label {
                    &:before {
                        background-color: $black;
                        box-shadow: 0 0 0 4px $orange, 0 0 0 5px $btn-orange;
                    }
                }
            }
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background-color: $black;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    background-color: #EB5757;
                }
            }
        }
    }

    label {
        display: inline-flex;
        align-items: center;

        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: transparent;
            transition: .2s;
            
            box-shadow: 0 0 0 4px #FDB15D, 0 0 0 5px #D5964F;

            @media(max-width: 768px) {
                width: 8px;
                height: 8px;
            }
        }
        
        span {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            margin-left: 14px;

            @media(max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
                margin-left: 12px;
            }
        }
    }
}

.block-check {
    &#{&}--orange {
        label {
            &:after {
                border-color: #E5D9CC;
            }
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background: $black url("../svg/checked-white.svg") center center no-repeat;
                    background-size: 8px 6px;
                    border-color: $black;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    border-color: #EB5757;
                    background-color: #EB5757;
                }
            }
        }
    }

    label {
        display: inline-flex;
        user-select: none;
    
        &:before {
            width: 20px;
            height: 20px;
            content: "";
            display: block;
            border: 1px solid #D5964F;
            box-sizing: border-box;
            border-radius: 3px;
            margin-top: 2px;
            transition: background-color .2s;

            @media(max-width: 768px) {
                width: 16px;
                height: 16px;
                margin-top: 4px;
            }
        }

        span {
            font-size: 14px;
            line-height: 24px;
            margin-left: 9px;
            width: calc(100% - 20px);

            @media(max-width: 768px) {
                // margin-left: 5px;
            }
        }   
    }
}

.input-file {
    label {
        display: flex;
        align-items: center;

        input {
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;
        }

        svg {
            fill: $orange;
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }

        span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: $orange;
            position: relative;
            top: 1px;
        }
    }
}

.select-color {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 4px;
    }

    &#{&}--horz {
        flex-direction: row;

        @media(max-width: 768px) {
            flex-wrap: wrap;
        }

        .select-color__item {
            margin-bottom: 0;
        }

        label {
            width: 28px;
            height: 28px;
            margin-right: 20px;

            @media(max-width: 768px) {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        input {
            &:checked {
                & + label {
                    box-shadow: 0 0 0 2px #fff, 0 0 0 3px currentColor;
                    position: relative;

                    &:after {
                        content: attr(data-text);
                        font-size: 12px;
                        width: auto;
                        position: absolute;
                        top: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                        color: $black;

                        @media(max-width: 480px) {
                            font-size: 10px;
                            top: -15px;
                        }
                    }
                }
            }
        }
    }

    label {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 100%;
        transition: .2s;
        cursor: pointer;
        margin-bottom: 0;
        background-color: currentColor;

        @media(max-width: 768px) {
            width: 15px;
            height: 15px;
        }
    }
    
    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                box-shadow: 0 0 0 2px #fff, 0 0 0 3px currentColor;
            }
        }
    }
}

.select-size {
    display: flex;
    border: 1px solid #F2ECE4;
    border-radius: 8px;
    overflow: hidden;

    @media(max-width: 768px) {
        // border-bottom: 0;
        // border-right: 0;
    }

    &#{&}--four {
        @media(max-width: 768px) {
            flex-wrap: wrap;

        //     label {
        //         width: 50%;
        //         flex: auto;
        //         border-bottom: 1px solid #F2ECE4;
        //         // border-right: 0;

        //         &:nth-child(1n) {
        //             // border-right: 1px solid #F2ECE4;
        //          }

        //         &:nth-child(2n) {
        //         //    border-right: 0; 
        //         }
        //     }
        }
    }

    label {
        flex: 1;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        border-right: 1px solid #F2ECE4;
        transition: .2s;

        &:last-child {
            border-right: 0;
        }

        @media(max-width: 768px) {
            height: 30px;
        }
    }

    span {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;

        @media(max-width: 768px) {
            font-size: 12px;
        }

        @media(max-width: 480px) {
            font-size: 10px;
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + label {
            background-color: $orange;
        }

        &.error {
            & + label {
                color: red;
            }
        }
    }
}

.customselect {
    // border: 1px solid #F2ECE4;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    position: relative;
    z-index: 1;

    label {
        background-color: transparent;
    }
    
    &__current {
        padding: 10px 20px;
        padding-right: 0;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background-color: #fff;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #F2ECE4;

        @media(max-width: 768px) {
            padding: 5px 10px;
            padding-right: 0;
        }

        > i {
            display: block;
            width: 50px;
            height: 50px;
            border: 1px solid #F2ECE4;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: transparent;

            @media(max-width: 768px) {
                width: 40px;
                height: 40px;
            }

            @media(max-width: 480px) {
                width: 20px;
                height: 20px;
            }

            img, svg {
                max-width: 80%;
                max-height: 80%;
                display: block;
            }
        }

        span {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            padding-left: 16px;
            // padding-right: 66px;

            width: calc(100% - 116px);
            flex: 1;

            @media(max-width: 768px) {
                width: calc(100% - 82px);
                font-size: 14px;
                line-height: 1;
                padding-right: 0;
            }

            @media(max-width: 480px)  {
                font-size: 12px;
                padding-left: 5px; 
            }
        }

        svg {
            height: 11px;
            width: 22px;
            fill: $orange;
            transform-origin: center center;
            transform: rotate(90deg);
            margin-right: 20px;
            margin-left: 20px;

            @media(max-width: 768px) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }

    &__flag {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        &:checked + .customselect__current {
            border-radius: 8px 8px 0 0;
            // border-bottom: #fff;
        }

        &:checked + .customselect__current + .customselect__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(-1px);
        }
    }
    
    &__content {
        transition: .2s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        position: absolute;
        background-color: #fff;
        
        padding-top: 10px;
        border: 1px solid #F2ECE4;
        width: 100%;

        label {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;

            @media(max-width: 768px) {
                padding-left: 10px;
                padding-right: 0px;
            }

            input {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;

                &:checked + i + span {
                    color: #A8A199;
                }
            }

            i {
                display: block;
                width: 50px;
                height: 50px;
                border: 1px solid #F2ECE4;
    
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;

                @media(max-width: 768px) {
                    width: 40px;
                    height: 40px;
                }

                @media(max-width: 480px) {
                    width: 20px;
                    height: 20px;
                }

    
                img, svg {
                    max-width: 80%;
                    max-height: 80%;
                }
            }
    
            span {
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                transition: .1s;
    
                padding-left: 16px;
                // padding-right: 66px;
    
                width: calc(100% - 116px);
                flex: 1;

                @media(max-width: 768px) {
                    width: calc(100% - 82px);
                    font-size: 14px;
                    line-height: 1;
                }

                @media(max-width: 480px)  {
                    font-size: 12px;
                    padding-left: 5px; 
                }
            }
        }
    }
}

#up {
    width: 64px;
    height: 64px;
    border: 1px solid #F2ECE4;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .2s;

    @media(max-width: 768px) {
        width: 40px;
        height: 40px;
    }
    
    &:hover {
        background-color: $orange;
        border-color: $orange;
        
        svg {
            fill: #fff;
        }
    }
    
    svg {
        transition: .2s;
        width: 10.5px;
        height: 21px;
        fill: $orange;
        transform: rotate(-90deg);

        @media(max-width: 768px) {
            width: 6px;
            height: 16px;
        }
    }
}

.label-type {
    width: 42px;
    height: 42px;
    left: 26px;
    top: 16px;
    border: 1px solid #27AE60;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    border-radius: 100%;

    &#{&}--new {
        border-color: #EB5757;
        &:after {
            content: "NEW";
            color: #EB5757;
        }
    }

    &:after {
        content: "HIT";
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #27AE60;
        line-height: 1;
        position: relative;
        top: 1px;
    }
}

@import "block/header.scss";
@import "block/catalog.scss";
@import "block/terrboard.scss";
@import "block/contact.scss";
@import "block/footer.scss";
@import "block/calcmatarial.scss";
@import "block/review.scss";
@import "block/whytrimf.scss";
@import "block/getcatalog.scss";
@import "block/partener.scss";
@import "block/compboard.scss";
@import "block/howwork.scss";
@import "block/question.scss";
@import "block/menu.scss";
@import "block/popup.scss";