// Colors
$orange: #FDB15D;
$black: #382817;
$gray: #F2ECE4;
$gray-text: #A8A199;
$bg-orange: #FCEFDE;
$btn-orange: #EA973C;

@import "include/bootstrap-reboot.scss";
@import "include/bootstrap-grid.min.scss";


html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    color: $black;

    @media(max-width: 768px) {
        font-size: 35px;
        line-height: 40px;
    } 

    @media(max-width: 580px) {
        font-size: 25px;
        line-height: 28px;
    }
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    @media(max-width: 580px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.btn {
    border-radius: 24px;
    outline: none;
    border: 0;
    background-color: $orange;
    display: inline-block;
    display: inline-block;
    cursor: pointer;
    transition: .2s;
    padding: 0;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $black;

        span {
            color: #fff;
        }
    }

    &#{&}--border {
        border: 1px solid #EA973C;
        background-color: transparent;

        span {
            color: $orange;
        }

        &:hover {
            border-color: $black;
            background-color: transparent;

            span {
                color: $black;
            }
        }
    }

    &#{&}--bg {
        background: $black;
        
        span {
            color: #fff;
        }

        &:hover {
            background: #fff;

            span {
                color: $black;
            }
        }
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        padding: 16px 42px;
        display: inline-block;
        text-align: center;
        outline: none;
        transition: .2s;

        @media(max-width: 580px) {
            padding: 12px 20px;
        }
    }
}

// Form
input[type="text"], input[type="phone"], input[type="number"], input[type="email"] {
    width: 100%;
    height: 62px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #D5964F;

    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $black;

    outline: none;

    &::placeholder {
        color: #B07B3F;
    }

    &.error {
        border-color: #EB5757;
        color: #EB5757;

        &::placeholder {
            color: #EB5757;
        }
    }
}

.block-radio {
    display: inline-block;
    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background-color: $black;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    background-color: #EB5757;
                }
            }
        }
    }
    label {
        display: inline-flex;
        align-items: center;

        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: transparent;
            transition: .2s;
            
            box-shadow: 0 0 0 4px #FDB15D, 0 0 0 5px #D5964F;
        }
        
        span {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            margin-left: 14px;
        }
    }
}

.block-check {
    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            & + label {
                &:before {
                    background: $black url("../svg/checked-white.svg") center center no-repeat;
                    background-size: 8px 6px;
                }
            }
        }

        &.error {
            & + label {
                &:before {
                    border-color: #EB5757;
                    background-color: #EB5757;
                }
            }
        }
    }

    label {
        display: inline-flex;
    
        &:before {
            width: 20px;
            height: 20px;
            content: "";
            display: block;
            border: 1px solid #D5964F;
            box-sizing: border-box;
            border-radius: 3px;
            margin-top: 2px;
            transition: background-color .2s;
        }

        span {
            font-size: 14px;
            line-height: 24px;
            margin-left: 9px;
        }   
    }
}

@import "block/contact.scss";
@import "block/footer.scss";
@import "block/calcmatarial.scss";
@import "block/review.scss";
@import "block/getcatalog.scss";