.catalog {
  padding-bottom: 100px;
  padding-top: 88px;
}
@media (max-width: 1080px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.catalog__item {
  border: 1px solid #F2ECE4;
  box-sizing: border-box;
  border-radius: 8px;
}