.catalog {
    padding-bottom: 100px;
    padding-top: 88px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h1 {
        margin-bottom: 36px;

        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    .row {
        @media(max-width: 768px) {
            > div {
                margin-bottom: 20px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__item {
        border: 1px solid #F2ECE4;
        box-sizing: border-box;
        border-radius: 8px;
        overflow: hidden;

        padding-top: 21px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .2s;

        &:hover {
            border-color: $orange;
        }

        @media(max-width: 992px) {
            
        }

        &-img {
            height: 218px;
            overflow: hidden;
            
            padding-left: 15px;
            padding-right: 15px;

            margin-bottom: 8px;
            
            img {
                max-width: 100%;
                // max-height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;

                @supports(object-fit: contain) {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center center;
                }
            }
            
        }

        .select-color {
            position: absolute;
            top: 18px;
            right: 40px;

            &__item {
                margin-bottom: 10px;
            }
        }

        &-text {
            padding-left: 32px;
            padding-right: 32px;
            text-align: center;
            flex: 1;
            margin-bottom: auto;

            @media(max-width: 992px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            .label {
                margin-bottom: 19px;
            }

            > em {
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $gray-text;
                font-style: normal;
                display: block;
                text-align: left;

                margin-bottom: 7px;
            }
            
            span {
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: $btn-orange;
                text-align: left;
                display: block;
                margin-bottom: 14px;
            }

            b {
                font-weight: bold;
                font-size: 21px;
                line-height: 26px;
                text-align: left;;
                display: block;
                text-align: left;

                em {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }

        &-btn {
            display: flex;

            // border-radius: 0 0 8px 8px;

            // width: calc(100% + 1px);
            // position: relative;
            // left: 1px;
            // top: 1px;
            margin-top: 25px;

            @media(max-width: 992px) {
                display: block;
                margin-top: 15px;
            }
        }

        .catalog-btn {
            width: 50%;
            border: 0;
            background-color: #FCEFDE;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 52px;
            transition: .2s;
            border: 0;

            cursor: pointer;
            user-select: none;
            outline: none;
            padding: 0;

            @media(max-width: 992px) {
                width: 100%;
                height: 40px;
            }
            
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                transition: .2s;
            }

            &:hover {
                background-color: $black;
                
                span {
                    color: #fff;
                }
            }

            &--pay {
                background-color: $orange;

                &:hover {
                    background-color: $black;
                }
            }
        }

    }
}

.label {
    background: #FCEFDE;
    border-radius: 24px;
    padding: 3px 10px;
    display: inline-block;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}