.compboard {
    background-color: #FCEFDE;
    padding-top: 88px;
    padding-bottom: 100px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h1 {
        margin-bottom: 28px;
    }

    &__scroll {
        
        @media(max-width: 992px) {
            overflow: auto; 
        }

        &-parent {
            position: relative;
            
            &.start {
                &:after {
                    display: none;
                }

                &:before {
                    display: block;
                }
            }

            &.end {
                &:after {
                    display: block;
                }
                
                &:before {
                    display: none;
                }
            }

            @media(max-width: 992px) {
                &.between {
                    &:after {
                        display: block;
                    }
    
                    &:before {
                        display: block;
                    }
                }
    
    
                &:after {
                    content: "";
                    width: 50px;
                    background: linear-gradient(90deg, #FCEFDE, rgba(#FCEFDE, 0));
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    z-index: 10;
                }
    
                &:before {
                    content: "";
                    width: 50px;
                    background: linear-gradient(90deg, rgba(#FCEFDE, 0) 0% , #FCEFDE);
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    z-index: 10;
                }
            }
        }
    }

    &__grid {
        display: flex;

        @media(max-width: 992px) {
            width: 800px;
        }

        @media(max-width: 768px) {
            width: 700px;
        }
    }

    &__column {
        flex: 1;

        b {
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
            padding-bottom: 30px;
            display: block;
            border-bottom: 2px solid $orange;
            flex: 1;
            margin-bottom: 31px;

            @media(max-width: 992px) {
                margin-bottom: 0;
                line-height: 18px;
                padding-bottom: 10px;
            }
        }
        
        span {
            flex: 1;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            display: block;
            // margin-bottom: 19px;
            line-height: 1.3;
            padding: 18px 0;
            position: relative;
            z-index: 2;
            padding-right: 15px;

            @media(max-width: 992px) {
                padding: 10px 0;
                padding-right: 10px;
                font-size: 14px;
                border-bottom: 1px solid $orange;
            }
        }
    }

    &__row {
        display: flex;
        // align-items: center;
        position: relative;
        cursor: pointer;

        @media(min-width: 993px) {
            &:not(.compboard__row--header) {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: -20px;
                    width: calc(100% + 40px);
                    height: 100%;
                    background: #FFFFFF;
                    border-radius: 8px;
                    opacity: 0;
                    transition: .2s;
                }
    
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
            
        }

    }
}