.contact {
    padding-top: 88px;

    h1 {
        margin-bottom: 35px;
    }

    &__data {
        a {
            font-size: 24px;
            display: flex;
            margin-bottom: 17px;

            @media(max-width: 768px) {
                font-size: 18px;
                margin-bottom: 14px;
            }

            i {
                display: block;
                width: 19px;
                height: 17px;
                margin-right: 11px;

                svg, img {
                    width: 100%;
                    height: 100%;
                    fill: $orange;
                }
            }
        }

        .social {
            margin-top: 63px;

            @media(max-width: 768px) {
                margin-top: 30px;
            }
        }
    }

    &__info {
        span {
            display: block;
            padding-bottom: 23px;
            border-bottom: 2px solid $orange;

            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: $orange;
            margin-bottom: 38px;
            margin-top: 6px;

            @media(max-width: 768px) {
                margin-bottom: 15px;
                padding-bottom: 15px;
                font-size: 16px;
            }
        }

        em {
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            display: block;
            margin-bottom: 12px;
            font-style: normal;

            @media(max-width: 768px) {
                line-height: 25px;
            }
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: $gray-text;

            @media(max-width: 768px) {
                line-height: 25px;
            }
        }
    }
}

.social {
    display: flex;

    a {
        display: block;
        width: 60px;
        height: 60px;
        margin-right: 12px;
        border: 1px solid $gray;
        border-radius: 100%;
        transition: .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 768px) {
            width: 40px;
            height: 40px;
        }

        svg {
            fill: $orange;
            transition: .2s;
            width: 18px;
            height: 18px;

            @media(max-width: 768px) {
                width: 14px;
                height: 14px;
            }
        }

        &:hover {
            background-color: $orange;
            border-color: $orange;

            svg {
                fill: #fff;
            }
        }
    }
}


#map {
    iframe {
        width: 100%;
        // height: 548px;
        height: 31.4vw;
        margin-top: 37px;

        @media(max-width: 768px) {
            height: 60vw;
            margin-top: 20px;
        }
    }
}