footer {
    padding-top: 52px;
    padding-bottom: 53px;
    position: relative;

    .container {
        position: relative;
    }

    @media(max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        display: block;

        @media(max-width: 580px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    em {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $gray-text;

        @media(max-width: 580px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}