footer {
    padding-top: 52px;
    padding-bottom: 53px;

    @media(max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        display: block;
    }

    em {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $gray-text;
    }
}