.getcatalog {
    padding-top: 88px;
    padding-bottom: 100px;
    background: #FCEFDE url("../img/getcatalog.png") bottom right no-repeat;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media(max-width: 1200px) {
        background-size: 55% auto;
    }

    @media(max-width: 992px) {
        background: #FCEFDE;
    }

    h1 {
        margin-bottom: 27px;
    }

    .input-block {
        margin-bottom: 24px;
    }

    .block-check {
        margin-top: 33px;
        margin-bottom: 25px;
    }
}