.whytrimf {
    padding-top: 100px;
    padding-bottom: 100px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__img {
        &-item {
            background: #C4C4C4;
            overflow: hidden;
            margin-bottom: 6px;

            @media(max-width: 992px) {
                height: 40vw;
                margin-bottom: 40px;
            }

            @media(max-width: 768px) {
                // height: 40vw;
                margin-bottom: 30px;
            }

            @media(max-width: 480px) {
                flex: 0 0 100%;
                height: 60vw;
                max-width: 100%;
                margin-bottom: 10px;
                border-radius: 8px;
            }

            img {
                max-width: 100%;
                width: 100%;
                display: block;

                @supports(object-fit: cover) {
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            &:first-child {
                border-radius: 8px 8px 0 0;

                @media(max-width: 992px) {
                    border-radius: 8px 0 0 8px;
                }

                @media(max-width: 480px) {
                    border-radius: 8px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;
                margin-bottom: 0;

                @media(max-width: 992px) {
                    border-radius: 0 8px 8px 0;
                }

                @media(max-width: 480px) {
                    border-radius: 8px;
                }
            }
        }
    }

    &__text {
        h1 {
            margin-bottom: 18px;
            margin-top: -11px;

            @media(max-width: 768px) {
                // margin-top: 20px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            @media(max-width: 480px) {
                margin-top: 20px;
            }
        }

        > p {
            // margin-bottom: 50px;

            @media(max-width: 768px) {
                // margin-bottom: 0;
            }
        }

        &-item {
            border-top: 1px solid $orange;
            padding-top: 23px;
            margin-top: 50px;

            @media(max-width: 768px) {
                margin-top: 30px;
                padding-top: 10px;
            }

            b {
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 5px;
                display: inline-block;

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 32px;

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
        }
    }
}