.header {
    background: url("../img/head-img.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;

    padding-top: 72px;
    padding-bottom: 65px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: 1;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 3.81%, rgba(56, 40, 23, 0) 99.75%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h1 {
        color: #fff;
        margin-bottom: 21px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 39px;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            i {
                width: 44px;
                height: 44px;
                display: flex;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                background-color: $orange;

                img, svg {
                    width: 20px;
                    height: 20px;
                    fill: $black;
                }
            }
            
            span {
                width: calc(100% - 44px);
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                padding-left: 16px;

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 22px;
                }

                @media(max-width: 580px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

    .btn {
        margin-right: 12px;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    &__video {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media(max-width: 768px) {
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__play {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: #fff;
        transition: .2s;
        cursor: pointer;
        user-select: none;
        margin-bottom: 21px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0 0 0 10px rgba(#fff, .25), 0 0 0 20px rgba(#fff, .25);

        
        &:hover {
            box-shadow: 0 0 0 12px rgba(#fff, .25), 0 0 0 25px rgba(#fff, .25);
       
            &:active {
                box-shadow: 0 0 0 10px rgba(#fff, .25), 0 0 0 22px rgba(#fff, .25);
            }
        }

        @media(max-width: 768px) {
            margin-bottom: 0;
            margin-top: 40px;
            width: 80px;
            height: 80px;
            box-shadow: 0 0 0 5px rgba(#fff, .25), 0 0 0 10px rgba(#fff, .25);

            &:hover {
                box-shadow: 0 0 0 6px rgba(#fff, .25), 0 0 0 12px rgba(#fff, .25);
           
                &:active {
                    box-shadow: 0 0 0 8px rgba(#fff, .25), 0 0 0 14px rgba(#fff, .25);
                }
            }
        }

        svg, img {
            width: 26px;
            height: 30px;
            fill: $orange;
            margin-left: 4px;
        }
    }
}