.menu {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, .2);
    
    &__wrap {
        padding-top: 21px;
        padding-bottom: 13px;
        position: relative;
    
        @media(max-width: 992px) {
            // padding-top: 15px;
            // padding-bottom: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        @media(max-width: 480px) {
            // padding-top: 10px;
            // padding-bottom: 10px;
        }

        display: flex;

        @media(max-width: 992px) {
            align-items: center;
        }
    }

    &__logo {
        padding-right: 82px;
        @media(max-width: 992px) {
            padding-right: 20px;
        }

        img {
            width: 115px;
            height: 95px;

            @media(max-width: 992px) {
                // width: 80px;
                // height: 57px;

                width: 45px;
                height: 34px;
            }

            @media(max-width: 480px) {
                // width: 60px;
                // height: 43px;
            }
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 992px) {
            flex: 1;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    &__contact {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media(max-width: 992px) {
            align-items: center;
        }
    }

    &__phone {
        
        &__wrap {
            display: inline-flex;
            // align-items: center;
            border-bottom: 1px solid #F2ECE4;
            padding-top: 3px;
            justify-content: center;
            padding-bottom: 19px;

            @media(max-width: 992px) {
                border: 0;
                padding: 0;
                align-items: center;
            }
            
            > span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                // margin-right: 82px;
                letter-spacing: 0.1px;
    
                white-space: nowrap;

                @media(max-width: 1230px) {
                    display: none;
                }
            }
        }


        a {
            line-height: 1;
            text-align: right;
            margin-left: 81px;

            @media(max-width: 1230px) {
                margin-left: 0;
            }
        }

        > div {
            text-align: right;
        }
    }

    &__btn {
        // width: 452px;
        margin-top: -8px;
        display: flex;
        align-items: flex-start;
        // padding-left: 63px;

        @media(max-width: 992px) {
            align-items: center;
            margin-top: 0;
            // display: none;
        }

        @media(max-width: 768px) {
            display: none;
        }

        .btn {
            margin-left: 16px;
            width: 215px;

            @media(max-width: 1230px) {
                width: 190px;
            }

            @media(max-width: 992px) {
                width: 160px;
                margin-left: 10px;
            }
            
            span {
                padding: 15px 10px;
                text-align: center;
                width: 100%;

                @media(max-width: 992px) {
                    padding: 10px 5px;
                    font-size: 12px;
                    padding: 5px;
                }
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__nav {
        width: 100%;
        margin-top: 14px;

        @media(max-width: 992px) {
            position: absolute;
            top: 100%;
            right: -15px;
            width: 250px;
            height: auto;
            background-color: #fff;
            margin-top: 0;
            z-index: 9999;
            margin-top: 20px; 
            
            transition: .2s;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            padding: 20px;
            padding-top: 10px;

            @media(max-width: 567px) {
                right: 0;
            }

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                box-shadow: 0 0 10px rgba(#000, .2);
            }

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 9px 9px 9px;
                border-color: transparent transparent #fff transparent;
                position: absolute;
                top: -9px;
                right: 21px;
                @media(max-width: 567px) {
                    right: 4px;
                }
            }
        }


        .btn {
            display: none;

            @media(max-width: 768px) {
                display: block;
                width: 100%;
                margin-top: 10px;

                span {
                    padding: 10px 10px;
                    width: 100%;
                    text-align: center;
                }
            } 
        }

        nav {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media(max-width: 992px) {
                display: block;
            }

            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                padding: 10px 0px;
                transition: .2s;

                @media(max-width: 1230px) {
                    font-size: 15px;
                }

                @media(max-width: 992px) {
                    width: 100%;
                    display: block;
                    padding: 8px 0;
                }

                &:hover, &.active {
                    color: $orange;
                }
            }
        }
    }

    &__navbtn {
        width: 33px;
        height: 24px;
        margin-left: 20px;
        position: relative;
        display: none;
        cursor: pointer;
        user-select: none;

        @media(max-width: 992px) {
            display: block;
            height: 18px;
        }

        &.active {
            pointer-events: none;

            span {
                width: 0;
            }

            &:before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &:hover {
            &:after , &:before, span {
                background-color: $black;
            }
        }

        
        &:after , &:before, span {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background: $orange;
            position: absolute;
            transition: .2s;

            @media(max-width: 992px) {
                height: 2px;
            }
        }
        
        span {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }
    }
}

.label-phone {
    display: flex;
    // align-items: center;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;

    &:hover {
        text-decoration: none;

        span {
            color: $orange;
        }
    }

    svg {
        width: 15px;
        height: 13px;
        fill: $orange;
        margin-right: 7px;
        top: 1px;
        position: relative;
    }

    span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        transition: .2s;
        line-height: 1;
    }
}
