.partener {
    padding-top: 88px;
    padding-bottom: 100px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__text {
        border-bottom: 1px solid #F2ECE4;
        padding-bottom: 40px;

        @media(max-width: 768px) {
            border: 0;
            padding-bottom: 0;
        }

        h1 {
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 32px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__img {
        img {
            border-radius: 8px;
            max-width: 100%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            display: block;

            @media(max-width: 768px) {
                margin-top: 30px;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: -28px;

        @media(max-width: 768px) {
            margin-top: 10px;
        }
    }

    &__grid {
        margin-top: 80px;

        @media(max-width: 992px) {
            margin-top: 40px;
        }

        @media(max-width: 768px) {
            margin-top: 30px;
        }

        &-item {
            margin-bottom: 71px;

            @media(max-width: 992px) {
                margin-bottom: 40px;
            }

            @media(max-width: 768px) {
                margin-bottom: 20px;
            }

            i {
                display: block;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background-color: $orange;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 22px;

                svg {
                    width: 30px;
                    height: 30px;

                    @media(max-width: 768px) {
                        width: 20px;
                        height: 20px;
                    }
                }

                @media(max-width: 768px) {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10px;
                }
            }

            b {
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                display: block;
                margin-bottom: 5px;

                @media(max-width: 992px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            span {
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;

                em {
                    color: $orange;
                    font-weight: 500;
                    font-style: normal;
                }

                @media(max-width: 992px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}