.review {
    padding-top: 88px;
    padding-bottom: 100px;

    @media(max-width: 1080px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h1 {
        margin-bottom: 29px;
    }

    &__item {
        border: 1px solid #F2ECE4;
        box-sizing: border-box;
        border-radius: 8px;

        padding-top: 53px;
        padding-left: 58px;
        padding-right: 60px;
        padding-bottom: 54px;
        position: relative;

        @media(max-width: 992px) {
            padding: 20px;
        } 

        @media(max-width: 580px) {
            padding: 0px;
            border: 0;
        }

        &:after {
            width: 106px;
            height: 101px;
            content: "";
            position: absolute;
            left: 109px;
            bottom: -1px;
            background: #fff url("../svg/triangle.svg") center center no-repeat;
            background-size: contain; 

            @media(max-width: 992px) {
                display: none;
            }
        }

        p {
            margin-bottom: 28px;

            @media(max-width: 768px) {
                margin-bottom: 15px;
            }
        }

        .btn-text {
            display: inline-flex;
            align-items: center;
            text-decoration: none;

            &:hover {
                svg {
                    transform: rotate(180deg);
                    fill: $black;
                }

                span {
                    color: $black;
                }
            }

            svg {
                width: 18px;
                height: 18px;
                fill: $orange;
                margin-right: 11px;
                transition: .2s;

                @media(max-width: 768px) {
                    width: 14px;
                    height: 14px;
                    margin-right: 8px;
                }
            }

            span {
                font-weight: normal;
                font-size: 18px;
                color: $orange;
                transition: .2s; 

                @media(max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    &__title {
        display: flex;
        margin-top: 2px;

        @media(max-width: 992px) {
            margin-top: 0;
            align-items: center;
            margin-bottom: 20px;
        }

        @media(max-width: 768px) {
            margin-bottom: 10px;
        }

        svg {
            width: 24px;
            height: 22px;
            fill: $orange;
            margin-right: 23px;

            margin-top: 3px;

            @media(max-width: 992px) {
                margin-right: 10px;
                margin-top: 1px;
            }

            @media(max-width: 768px) {
                width: 18px;
                height: 16px;
                margin-top: 0;
            }
        }

        span {
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            display: block;
            width: 120px;

            
            @media(max-width: 992px) {
                width: auto;
                line-height: 1;
            }

            @media(max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}